<nav class="navBottomBlue">
    <div class="left">
    <a href="/yugioh">
        Yu-Gi-Oh! Fantasy <br>Collection!
    </a>
</div>

    <ul>
        <li><a href="./signup">Sign Up</a></li>
        <li><a href="./login">Log In</a></li>
        <li><a class="buttonBlue" href="#">My Cards</a></li>
    </ul>
</nav>