<nav>
    <a href="/yugioh">
        Yu-Gi-Oh! Fantasy Collection!
    </a>
    <ul>
        <li><a href="./signup">Sign Up</a></li>
        <li><a href="./login">Log In</a></li>
        <li><a class="button" href="#; ">My Cards</a></li>
    </ul>
</nav>