<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/styles') %>
    <title>Add a New Card | Yu-Gi-Oh! Fantasy Collection!</title>
</head>
<body class="lightBlue">
    <div class="flexColumn">
    <%- include('./partials/headerBlueBtn') %> 
    <div class="headingAndButton">
    <h1 class="topLeft">Add New Card</h1>
    <a class="buttonBlue" href="/yugioh"> View All Cards</a>
</div>
<div class="formStructure">
    <form action="/yugioh" method="POST">
        <div class="formRow">
    <label>
        Card name
        <input type="text" name="name" required/>
    </label>
    <label>
        Booster Box
        <input type="text" name="boxSet" required/>
    </label>
    <label>
        Condition
        <input type="text" name="condition" required/>
    </label>
</div>
    <label>
        Card Description
        <input type="text" name="cardDescription" required/>
    </label>
    <label>
        Rarity
        <input type="text" name="rarity"/>
    </label>
    <label>
        Attribute/Type:
        <input type="text" name="cardType"/>
    </label>
    <label>
        Attack
        <input type="text" name="attack"/>
    </label>
    <label>
        Defense
        <input type="text" name="defense"/>
    </label>
    <div class="submitRight">
    <input class="buttonBlue submitButton" type="submit" value="Create Card" />
        </div>
    </form>
</div>
</div>
</body>

</html>