<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cards | Yu-Gi-Oh! Fantasy Collection!</title>
</head>
<body>
    <%- include('./partials/headerBlueBtn') %> 
    <h1>My Cards</h1>
    <a href="/yugioh/new" class="button">Create New Card</a>
    <ul>
        <% cards.forEach(card => { %>
            <li><a href="/yugioh/<%= card._id %> "><%= card.name; %></a></li> 
        <% }); %> 
    </ul>
</body>
</html>